body {
	margin: 15px;
}

.preloader {
    display: none;
}

.catalog.loading img {
    display: block;
}

/**/
.item {
    /*border: 1px solid;*/
}

.item .player {
    /*width: 500px;
    height: 500px;*/
}

html, body, .map {
	/*width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;*/
}
.map div {
	/*width: 100%;
	height: 100%;*/
}

/*
#catalog,
#catalog div {
	width: 100% !important;
	height: 100% !important;
}*/
